<!-- header -->
<%- include('partials/_header') %>

<!-- navigation -->
<%- include('partials/_navigation') %>

<!-- Panel -->
<div class="blog_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="blog_taital">Admin Panel</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="blog_section_2 layout_padding">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="blog_box">
            <a href="/admin/users">
              <div class="blog_img"><img src="/images/blog-img1.png"></div>
              <p class="chair_text">Users</p>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="blog_box">
            <a href="/admin/products">
              <div class="blog_img"><img src="/images/blog-img2.png"></div>
              <p class="chair_text">Products</p>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="blog_box">
            <a href="/admin/reserves">
              <div class="blog_img"><img src="/images/blog-img3.png"></div>
              <p class="chair_text">Reserves</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="readmore_bt"><a href="#">See More</a></div>
  </div>
</div>

<!-- footer -->
<%- include('partials/_footer') %>